@inherits LayoutComponentBase

<main>
    @Body
</main>

<style>
    main {
        height: 100vh;
        width: 100vw;
        font-family: "Inter", sans-serif;
        background-color: #a8febf;
    }
</style>