@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #a8febf;
  --color-btnbackground: #d6ffe1;
  --color-btnborder: #85bc7d;
}

main {
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
}
