@page "/"
@using GNUCannabis.Pages.Components

<PageTitle>GNUCannabis</PageTitle>

<div class="initial-page">
    <div class="upper-side">
        <img src="Logo_GNUCannabis.webp" alt="Logo GNUCannabis" class="logo" />
    </div>
    <div class="lower-side">
        <GNUButton Text="Iniciar Sesion" RedirectUrl="/login" FontSize="calc(100vw/60)" />
        <GNUButton Text="Registrarse" RedirectUrl="/register" FontSize="calc(100vw/60)" />
    </div>
</div>

<style>
    .initial-page {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .upper-side,
    .lower-side {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .upper-side {
        align-items: center;
        height: 80%;
    }

    .lower-side {
        height: 20%;
        gap: 20vw;
    }

    .logo {
        width: 60%;
    }
</style>
