@page "/login"
@using GNUCannabis.Pages.Components

<PageTitle>Inicio de Sesión</PageTitle>
<GNUBackButton />
<div class="content">
    <h1 class="title fw-semibold">Iniciar Sesion</h1>
    <EditForm Model="@model" OnValidSubmit="ValidateCredentials" class="formContainer">
        <GNUInputGroup Label="Correo" Id="iptEmail" Name="iptEmail" Type="email" @bind-Value="@model.email" />
        <GNUInputGroup Label="Contraseña" Id="iptPassword" Name="iptPassword" Type="password"
            @bind-Value="@model.password" />
        <GNUButton Text="Ingresar" ButtonType="submit" />
    </EditForm>
</div>

<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: calc(100vh/15);
    }

    .formContainer {
        gap: calc(100vh/30);
        text-align: center;
    }
</style>

@code {
    private LoginModel model = new LoginModel();

    private class LoginModel
    {
        public string email { get; set; } = string.Empty;

        public string password { get; set; } = string.Empty;
    }

    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    private void ValidateCredentials()
    {
        Console.WriteLine($"Correo: {model.email}, Contraseña: {model.password}");
        NavigationManager?.NavigateTo("/MainMenu");

    }
}