@page "/register"
@using GNUCannabis.Pages.Components

<PageTitle>Registro</PageTitle>
<GNUBackButton />
<div class="content">
    <h1 class="title fw-semibold">Registrarse</h1>
    <EditForm Model="@model" OnValidSubmit="ValidateCredentials" class="formContainer">
        <GNUInputGroup Label="Correo" Id="iptEmail" Name="iptEmail" Type="email" @bind-Value="@model.email" />
        <GNUInputGroup Label="Contrase単a" Id="iptPassword" Name="iptPassword" Type="password"
            @bind-Value="@model.password" />
        <GNUInputGroup Label="Confirmar Contrase単a" Id="iptConfirmPassword" Type="password" />
        <GNUButton Text="Enviar" ButtonType="submit" FontSize="calc(100vw/50)" />
    </EditForm>
</div>

<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        gap: calc(100vh/15);
    }

    .formContainer {
        gap: calc(100vh/30);
        text-align: center;
    }

    .title {
        font-size: calc(100vw/17);
        text-align: center;
    }
</style>

@code {
    private RegisterModel model = new RegisterModel();

    private class RegisterModel
    {
        public string email { get; set; } = string.Empty;

        public string password { get; set; } = string.Empty;

        public string confirmPassword { get; set; } = string.Empty;
    }
    private void ValidateCredentials()
    {
        Console.WriteLine($"Correo: {model.email}, Contrase単a: {model.password}, Confirmar Contrase単a: {model.confirmPassword}");
    }
}